$maincolor:#FF5E00;
$subcolor:#4A5052;
$boldcolor:#414141;
$mutedcolor1:#9A9A9A;
$mutedcolor2:#757575;
$mutedcolor3:#A5A5A5;
$mutedcolor4:#ADADAD;
$lightmuted:#ffffffd9;
$mutedcolor5:#A8A8A8;
$mutedcolor6:#9B9B9B;
$mutedcolor7:#707070;
$mutedcolor8:#989898;
$mutedcolor9:#DBDBDB;
$mutedcolor10:#BCBCBC;
$mutedcolor11:#D1D1D1;
$navcolor1:#030303;
$footercolor:#F3F3F3;
$circulecolor:#DCDCDC;
$buttoncolor:#EAEAEA;
$navcolor:#F5F5F5;
$whitecolor:#fff;
$whitetrans:#ffffff9e;
$whitetrans2:#ffffffbd;
$card-color:#082B65;
$active:#59a03f;
$disable:#EB5F5F;
$lightfont:'Cor-light';
$regularfont:'Cor-Regular';
$boldfont:'Cor-bold';
$xlargesize:2rem;
$largesize:1.5rem;
$mainsize:1.3rem;
$subsize:1.1rem;
$smallsize:.9rem;
$defaultfont:1rem;
$scalepadding:250px 0 200px;
$highindex:500;
$lowindex:1;
